# CDE supplies two separate tarballs that must be dropped into:
#   cdp-spark-connect/code-env/python/python-packages/
# before building this code-env in DSS.
#
#mv /home/pryan/cdeconnect.tar.gz /home/dataiku/dss/python-packages/
#mv /home/pryan/pyspark-3.5.4.tar.gz /home/dataiku/dss/python-packages/

# CDE PySpark tarball (required for all auth types)
../python-packages/pyspark-3.5.4.tar.gz

# CDE Python package tarball (required for authType=CDE_SESSION only)
../python-packages/cdeconnect.tar.gz
ipykernel